{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/completion_automatic

    Template for displaying an automatic completion rule and its status.

    Example context (json):
    {
        "statuscomplete": 1,
        "description": "Viewed",
        "istrackeduser": true
    }
}}
{{#istrackeduser}}
    {{#statuscomplete}}
        <span class="p-2 badge badge-success rounded" role="listitem">
        <strong>{{#str}}completion_automatic:done, core_course{{/str}}</strong> <span class="font-weight-normal">{{description}}</span>
    </span>
    {{/statuscomplete}}
    {{#statuscompletefail}}
    <span class="p-2 badge badge-warning rounded" role="listitem">
        <strong>{{#str}}completion_automatic:failed, core_course{{/str}}</strong> <span class="font-weight-normal">{{description}}</span>
    </span>
    {{/statuscompletefail}}
    {{#statusincomplete}}
    <span class="p-2 badge badge-pill badge-light rounded" role="listitem">
        <strong>{{#str}}completion_automatic:todo, core_course{{/str}}</strong> <span class="font-weight-normal">{{description}}</span>
    </span>
    {{/statusincomplete}}
{{/istrackeduser}}
{{^istrackeduser}}
    <span class="p-2 badge badge-light rounded" role="listitem">
        <span class="font-weight-normal">{{description}}</span>
    </span>
{{/istrackeduser}}
