<div>
    <span>{{status}}</span>
    <a href="" class="editenrolmentbutton" data-userid="{{userid}}" data-courseid="{{courseid}}">{{#pix}}t/edit, core, {{#str}}editenrolmentstatus, enrol{{/str}}{{/pix}}</a>
    <a href="">{{#pix}}t/delete, core, {{#str}}unenrol, enrol{{/str}}{{/pix}}</a>
</div>
