<div>
    <span>{{status}}</span>
    {{#enrolactions}}
        <a href="{{editenrolmenturl}}" class="editenrolmentbutton" data-userid="{{userid}}" data-courseid="{{courseid}}">{{#pix}}t/edit, core, {{#str}}editenrolmentstatus, enrol{{/str}}{{/pix}}</a>
    {{/enrolactions}}

    <a href="{{unenrolurl}}">{{#pix}}t/delete, core, {{#str}}unenrol, enrol{{/str}}{{/pix}}</a>
</div>
