{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_recentlyaccessedcourses/recentlyaccessedcourses-view

    This template renders the courses view for the recentlyaccessedcourses block.

    Example context (json):
    {
        "nocoursesimgurl": "#",
        "hascourses": true,
        "courses": [
            {
                "name": "Assignment due 1",
                "viewurl": "#",
                "courseimageurl": "#",
                "fullname": "course 3",
                "isfavourite": true
            }
        ]
    }
}}
<div id="recentlyaccessedcourses-view-{{uniqid}}"
     data-region="recentlyaccessedcourses-view"
     data-nocoursesimgurl="{{nocoursesimgurl}}">
    <div data-region="recentlyaccessedcourses-view-content">
        {{#hascourses}}
            {{> block_recentlyaccessedcourses/view-cards}}
        {{/hascourses}}
        {{^hascourses}}
            {{> block_recentlyaccessedcourses/no-courses}}
        {{/hascourses}}
    </div>
</div>
