{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_media/insert_image_modal_details

    Insert image details body template.

    The alternative text, decorative flag and display size controls come from core/imagedetails/form,
    rendered into tiny_image_details_form by the tiny_media/image/imagedetails module. This template
    supplies the surrounding layout and the preview, which carries the plugin's own delete action.

    Example context (json):
    {
        "customStyle": ""
    }

}}
<div class="tiny_image_image_details">
    <div class="container">
        <div class="row">
            {{! Alternative text, decorative flag and display size, rendered by core/imagedetails/form. }}
            <div class="tiny_image_properties_col col-lg-5">
                <div class="tiny_image_details_form"></div>
            </div>
            {{! Image preview and description }}
            <div class="tiny_image_preview_col col-lg-7 p-0">
                <input type="hidden" class="tiny_image_customstyle" value="{{customStyle}}">
                {{! Image preview }}
                <div class="tiny_image_preview_box border rounded position-relative">
                    {{! Delete image icon }}
                    <button class="btn btn-icon icon-size-3 p-0 ms-auto tiny_image_deleteicon"
                        type="button"
                        title="{{#str}} deleteimage, tiny_media {{/str}}"
                        aria-label="{{#str}} deleteimage, tiny_media {{/str}}"
                    >
                        {{#pix}} delete, tiny_media {{/pix}}
                    </button>
                    {{! Image placeholder }}
                    <img class="tiny_image_preview" src="data:," alt>
                </div>
            </div>
        </div>
    </div>
</div>
