//
// Bootstrap variables
//

// Import Moodle Design System tokens.
// Must be imported before Bootstrap so that the design system tokens can be used to override Bootstrap variables.
@import "design-system";

// Import font stack.
@import "moodle/font-stack";

// Moodle's Bootstrap variable overrides. Shared with the editor stylesheet, see scss/editor.scss.
@import "bootstrap-variables";

// Import Noto Sans font face declarations.
@import "moodle/fonts";

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import language-specific font stacks. Must be imported after Bootstrap.
@import "moodle/font-stack-lang";

// Import Core moodle CSS
@import "moodle";

//
// Preset CSS
//

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.

$info-outline:    #1f7e9a;
$warning-outline: #a6670e;

.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $gray-600;
}

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}
