{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_choice/publish_info

    Choice results publishing info template.

    The purpose of this template is to render a list of information regarding on how the results of
    the choice activity will be published.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * messages array An array of messages.

    Example context (json):
    {
        "messages": [
            "The results will be shown after you answer",
            "The results will be published anonymously. Your choice(s) will not be attributed to you"
        ]
    }
}}
<ul>
    {{#messages}}
        <li>{{.}}</li>
    {{/messages}}
</ul>
