{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_threesixty/question_bank

    Moodle question bank template for the 360-degree feedback.

    The purpose of this template is to render the question bank  of the 360-degree feedback module
    which can be used by the question chooser dialogue.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * lblActions Actions header label.
    * lblCancel Cancel button label.
    * lblDone Done button label.
    * lblPick Pick button label.
    * lblQuestion The question text label.
    * lblSave Save button label.
    * lblType The question type label.
    * pickerMode Whether to render template in picker mode or not.
    * questionDesc The question description placeholder.
    * questions Array of questions with id, question and question type.
    * questionTypes Array of question types with type value (typeVal) and type name (typeName).

    Example context (json):
    {
        "lblCancel": "Cancel",
        "lblDone": "Done",
        "lblSave": "Save",
        "lblType": "Type",
        "pickerMode": true,
        "questionDesc": "Enter question text",
        "questions": [
            {
                "id": "1",
                "question": "Example question 1",
                "type": "Rated"
            },
            {
                "id": "2",
                "question": "Example question 2",
                "type": "Rated"
            },
            {
                "id": "3",
                "question": "Example question 3",
                "type": "Comment"
            }
        ],
        "questionTypes": [
            {
                "typeVal": "0",
                "typeName": "Rated"
            },
            {
                "typeVal": "1",
                "typeName": "Comment"
            }
        ]
    }
}}
<div class="container" id="mod-threesixty-question-bank">
    <div class="row" id="question-edit-form-container">
        <button class="btn btn-default" id="btn-question-bank-add">
            <span class="icon">
                <img src="{{{ addLink }}}" />
            </span>
        </button>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row" id="questionListWrapper">
    </div>
    <div>
        <button class="btn btn-default" id="btn-question-bank-done">
            {{lblDone}}
        </button>
        <button class="btn btn-default" id="btn-question-bank-cancel">
            {{lblCancel}}
        </button>
    </div>
</div>
